<div class="container-fluid">
    <div class="row">
      <div class="topMargin"></div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="card selectionCardRight pull-right" (click)="goCreateClass()">
          <i class="iconSpecsClassCategories fa fa-star fa-fw"></i>
          Add Class Categories
        </div>
      </div>

      <div class="col-6">
        <div class="card selectionCardLeft pull-left" (click)="goToEditInstructor()">
          <i class="iconSpecsClassCategories fa fa-star-o fa-fw"></i>
          Edit Class Categories 
        </div>         
      </div>    
    </div>
</div>
