.moduleNav {
    padding-top:5px;
    padding-bottom:5px;
    font-size:20px;
    color:#afb4ae;
    width:100%;
    cursor: pointer;
}

.moduleNavContainer {
    width:100%;
}

.leftNav {
    height:200vh;
    width:100%;
    background-color:#1a2225;
    border-right-color:#DCDCDC;
    border-right-style: solid;
}

.fragTitle {
    font-weight:400;
    font-size:50px;
}

.bg {
    background: lightblue url("/assets/images/userbg.jpg"); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:100vh;
}

.outterBG {
    padding:0;
    margin:0;
    background-color:#1a2225;
}

.dashtotalFrame {
    text-align:center;
    font-size:20px;
    font-weight:500;
}

.dashIcon {
    color:#337ab7;
    text-align:center;
    font-weight:500;
    font-size:100px;
}

.dashIcon2 {
    color:purple;
    text-align:center;
    font-weight:500;
    font-size:100px;
}

.dashIcon3 {
    color:#ebda34;
    text-align:center;
    font-weight:500;
    font-size:100px;
}

.dashIcon4 {
    color:black;
    text-align:center;
    font-weight:500;
    font-size:100px;  
}

.dashpadding50 {
    margin-top:50px;
    width:100%;
}

.cardwidth {
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

span.stars, span.stars span {
    display: block;
   /* Download the star image here: http://stackoverflow.com/questions/1987524/turn-a-number-into-star-rating-display-using-jquery-and-css */
    background: url('../../../assets/images/stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.alignright {
  float:right;
}