.logo {
    margin-left:10px;
    padding-top:15px;
    padding-bottom:15px;
    font-size:20px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.navbarMain {
    background-color:#2a92ed;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.iconFrame {
    width:50px;
    height:50px;
}

.iconFrame:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.icons {
    font-size:20px;
}

.avatar {
    margin:10px;
    height:40px;
    width:40px;
}

.userWelcome {
    padding-top:15px;
    font-size:20px;
    padding-bottom:15px;
    color:white;
}