<div class="container-fluid">
  <div class="row navbarMain">
    <div class="col-6">
        <div class="logo">
          BCIT Recreation
        </div>
    </div>
    <div class="col-6">
      <div class="pull-right">
        <div class="dropdown">
          <div class="dropbtn">
            <img class="avatar pull-left" src="../../../assets/images/avatars/boy.png">
            <div class="userWelcome pull-left">Welcome {{fullname}} </div>
          </div>
          <div class="dropdown-content">
            <a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
            <a href="#/logout"><i class="fa fa-power-off" aria-hidden="true"></i> Logout</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
