<div class="container-fluid">
  <div *ngIf="this.route == 1 && this.subRoute == 0">
    <div class="row">
      <div class="topMargin"></div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="row">
          <div class="col-6">
            <div class="card selectionCardRight pull-right" (click)="goCreateClass()">
              <i class="iconSpecsClasses fa fa-pencil fa-fw"></i>
              Add a Class
            </div>
          </div>

          <div class="col-6">
            <div class="card selectionCardLeft pull-left" (click)="goToEditInstructor()">
              <i class="iconSpecsClasses fa fa-pencil-square-o fa-fw"></i>
              Edit Classes
            </div>         
          </div>    
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>

  <div *ngIf="this.route == 2 && this.subRoute == 0">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="card addAccountCard">
          <h1 class="addAccountTitle">Adding a Class</h1>
          <div class="errorsTable">
            {{validusername}}
          </div>
          <div class="errorsTable" *ngFor="let currentError of formErrors">
            {{currentError}}
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <div class="namecontain">
                  <div class="addAccountFont rowPadding">
                    Class Name: <br>
                    <input name="classname" [(ngModel)]="addClass.classname" #classname="ngModel" type="text">
                  </div>
                  <div class="addAccountFont">
                    Select an Instructor: <br>
                    <select #accessSelector class="mdb-select" (change)="setInterSelectorAccessLevel(accessSelector.value)">
                        <option value="1">Level 1 - Administrator </option>
                        <option value="2">Level 2 - Receptionist </option>
                        <option value="3">Level 3 - Instructor </option>
                    </select>
                  </div>
                  <div class="addAccountFont rowPadding">
                    Number of Slots: <br>
                    <input class="inputSlotFrame" name="reservedSlot" [(ngModel)]="addClass.reservedSlot" #reservedSlot="ngModel" type="number" placeholder="Reserved Slots" min="0" max="100">/<input class="inputSlotFrame" name="maxSlot" [(ngModel)]="addClass.maxSlot" #maxSlot="ngModel" type="number" placeholder="Maximum Slots" min="1" max="100">
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="addAccountFont rowPadding pull-left">
                        Begin Date: <br>
                            <input [owlDateTimeTrigger]="dt6" [owlDateTime]="dt6">
                            <owl-date-time [pickerType]="'calendar'" [startView]="'month'" #dt6></owl-date-time>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="addAccountFont rowPadding pull-right">
                        End Date: <br>
                            <input [owlDateTimeTrigger]="dt7" [owlDateTime]="dt7">
                            <owl-date-time [pickerType]="'calendar'" [startView]="'month'" #dt7></owl-date-time>
                      </div>
                    </div>
                  </div>
                  <div class="addAccountFont rowPadding">
                    Day of the Week 
                    <select #accessSelector class="mdb-select" (change)="setInterSelectorAccessLevel(accessSelector.value)">
                        <option value="1">Monday</option>
                        <option value="2">Tuesday</option>
                        <option value="3">Wednesday</option>
                        <option value="4">Thursday</option>
                        <option value="5">Friday</option>
                        <option value="6">Saturday</option>
                        <option value="7">Sunday</option>
                    </select>
                  </div>
                  <div class="addAccountFont rowPadding">
                    Time:
                    <input [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4">
                    <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <div class="addAccountFontHeavy">Instructor</div>
                </div>
                <div class="row">
                  <div class="imageContainer">
                    <img class="imageContainer" src="{{currentImage}}">
                  </div>
                </div>
                <div class="row">
                  <label class="btn btn-default uploadButton">
                      Upload an Image <input type="file" hidden (change)="uploadAnImage($event)">
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="padSpacing50"></div>
            </div>
            <div class="addAccountFont pull-right">
              <button type="button" class="createButton btn btn-success" (click)="registerInstructor()">Create Class</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</div>
