
<div class="container-fluid">
  <!-- class management selection-->
  <div *ngIf="this.route == 1 && this.subRoute == 0">
    <div class="row">
      <div class="topMargin"></div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="row">
          <div class="col-6">
            <div class="card selectionCardRight pull-right" (click)="goCreateClass()">
              <i class="iconSpecsClasses fa fa-pencil fa-fw"></i>
              Add a Class
            </div>
          </div>

          <div class="col-6">
            <div class="card selectionCardLeft pull-left" (click)="goToEditClasses()">
              <i class="iconSpecsClasses fa fa-pencil-square-o fa-fw"></i>
              Edit Classes
            </div>         
          </div>    
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>

  <!-- class creation form-->
  <div *ngIf="this.route == 2 && this.subRoute == 0">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="card addAccountCard">
          <h1 class="addAccountTitle">Adding a Class</h1>
          <div class="errorsTable">
            {{validusername}}
          </div>
          <div class="errorsTable" *ngFor="let currentError of errorMessages">
            {{currentError}}
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <div class="namecontain">
                  <div class="addAccountFont">
                    Class Name: <br>
                    <input name="classname" [(ngModel)]="addClass.className" #classname="ngModel" type="text" (keyup)="printTester()">
                  </div>
                  <div class="addAccountFont rowPadding">
                    Class Location: <br>
                    <input name="classLocation" [(ngModel)]="addClass.classLocation" #classLocation="ngModel" type="text" (keyup)="printTester()">
                  </div>
                  <div class="addAccountFont rowPadding">
                    Select a Class Category: <br>
                    <select #selectClassCategory class="mdb-select" (change)="setClassCategory(selectClassCategory.value)">
                        <option value="{{i}}" *ngFor="let currentCategory of classCategorytable.categoryID;let i = index">{{classCategorytable.categoryName[i]}} </option>
                    </select>
                  </div>
                  <div class="addAccountFont rowPadding">
                    Select an Instructor: <br>
                    <select #instructorSelector class="mdb-select" (change)="setClassInstructor(instructorSelector.value)">
                        <option value="{{i}}" *ngFor="let currentInstructor of instructorTable.instructorID;let i = index">{{instructorTable.firstname[i]}} {{instructorTable.lastname[i]}} </option>
                    </select>
                  </div>
                  <div class="addAccountFont rowPadding">
                    Number of Slots: <br>
                    <input class="inputSlotFrame" name="reservedSlot" [(ngModel)]="addClass.reservedSlot" #reservedSlot="ngModel" type="number" placeholder="Reserved Slots" min="0" max="100">/<input class="inputSlotFrame" name="maxSlot" [(ngModel)]="addClass.maxSlot" #maxSlot="ngModel" type="number" placeholder="Maximum Slots" min="1" max="100">
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="addAccountFont rowPadding">
                        Begin Date: <br>
                            <input [(ngModel)]="addBeginDate" [owlDateTimeTrigger]="dt6" [owlDateTime]="dt6">
                            <owl-date-time [pickerType]="'calendar'" [startView]="'month'" #dt6></owl-date-time>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="addAccountFont rowPadding">
                        End Date: <br>
                            <input [(ngModel)]="addEndDate" [owlDateTimeTrigger]="dt7" [owlDateTime]="dt7">
                            <owl-date-time [pickerType]="'calendar'" [startView]="'month'" #dt7></owl-date-time>
                      </div>
                    </div>
                  </div>

                  <div class="addAccountFont rowPadding">
                    Day of the Week 
                    <select #daySelector class="mdb-select" (change)="setDayOfWeek(daySelector.value)">
                        <option value="1">Monday</option>
                        <option value="2">Tuesday</option>
                        <option value="3">Wednesday</option>
                        <option value="4">Thursday</option>
                        <option value="5">Friday</option>
                        <option value="6">Saturday</option>
                        <option value="7">Sunday</option>
                    </select>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="addAccountFont rowPadding">
                        Class Begin Time: <br>
                        <input [(ngModel)]="addBeginTime" [owlDateTimeTrigger]="beginTime" [owlDateTime]="beginTime">
                        <owl-date-time [pickerType]="'timer'" #beginTime></owl-date-time>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="addAccountFont rowPadding">
                        Class End Time: <br>
                        <input [(ngModel)]="addEndTime" [owlDateTimeTrigger]="endTime" [owlDateTime]="endTime">
                        <owl-date-time [pickerType]="'timer'" #endTime></owl-date-time>
                      </div>
                    </div>
                  </div>
                  <div class="addAccountFont">
                    Class Description: <br>
                    <textarea class="bioframe" name="classDescription" [(ngModel)]="addClass.classDescription" #classDescription="ngModel" name="textarea"></textarea>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <div class="addAccountFontHeavy">Selected Instructor</div>
                </div>
                <div class="row">
                  <div class="addAccountFont centerText">{{currentInstructorName}}</div>
                </div>
                <div class="row">
                  <div class="imageContainer">
                    <img class="imageContainer" src="{{currentImage}}">
                  </div>
                </div>
                <div class="row">
                  <div class="padSpacing50"></div>
                </div>
                <div class="row">
                  <div class="addAccountFontHeavy">Class Image</div>
                </div>
                <div class="row">
                  <div class="classImageContainer">
                    <img class="classImageContainer" src="{{addClassImage}}">
                  </div>
                </div>
                <div class="row">
                  <label class="btn btn-default uploadButton">
                      Upload an Image <input type="file" hidden (change)="uploadAnImage($event)">
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="padSpacing50"></div>
            </div>
            <div class="addAccountFont pull-right">
              <button type="button" class="createButton btn btn-success" (click)="createClass()">Create Class</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
  <!-- class creation form END-->

  <!--  confirmation message after edit classes -->
  <div *ngIf="this.route == 2 && this.subRoute == 1">
      <div class="container">
        <div class="row">
          <div class="topMargin"></div>
        </div>
        <div class="row">
          <div class="greenhighlight">
            <i class="fa fa-check-square-o fa-fw"></i> {{successMessageInternal}}
          </div>
        </div>
        <div class="row">
          <div class="returntodashbutton" (click)="goToDashboard()"><i class="fa fa-arrow-left fa-fw"></i>Return to Dashboard</div>
        </div>
      </div>
    </div>
  <!--  confirmation message after edit classes  END -->

  <!-- Edit classes table begin-->
  <div *ngIf="this.route == 3 && this.subRoute == 0">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="searchTitle pull-left">Search By: </div>
        <select #filterSelector class="mdb-select searchBoxSelectFrame pull-left" (change)="setOptionFilter(filterSelector.value)">
            <option value="1" selected>Class ID</option>
            <option value="2">Class Name</option>
            <option value="3">Class Location</option>
            <option value="4">Instructor Name</option>
            <option value="5">Category</option>
        </select>
        <input name="filterIntValue" [(ngModel)]="filter.value" #filterIntValue="ngModel" class="searchInputbox pull-left" type="text" (keyup)="applyClassFilter()">
      </div>
      <div class="col-1"></div>
    </div>
    <div class="row">
      <div class="padSpacing50"></div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="card">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Class ID</th>
                <th scope="col">Class Name</th>
                <th scope="col">Class Location</th>
                <th scope="col">Instructor Name</th>
                <th scope="col">Category</th>
                <th scope="col">Reserved Slots</th>
                <th scope="col">Total Slots</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let currentUser of editClassTable.classID;let i = index">
                <th *ngIf="this.editClassTable.filtered[i] == 1" scope="row">{{currentUser}}</th>
                <td *ngIf="this.editClassTable.filtered[i] == 1">{{editClassTable.className[i]}}</td>
                <td *ngIf="this.editClassTable.filtered[i] == 1">{{editClassTable.classLocation[i]}}</td>
                <td *ngIf="this.editClassTable.filtered[i] == 1">{{editClassTable.firstname[i]}} {{editClassTable.lastname[i]}}</td>
                <td *ngIf="this.editClassTable.filtered[i] == 1">{{editClassTable.categoryName[i]}}</td>
                <td *ngIf="this.editClassTable.filtered[i] == 1">{{editClassTable.reservedSlots[i]}}</td>
                <td *ngIf="this.editClassTable.filtered[i] == 1">{{editClassTable.availableSlots[i]}}</td>
                <td *ngIf="this.editClassTable.filtered[i] == 1"><div id="editUser{{i}}" class="editUser" (click)="selectClass($event)"><i class="fa fa-pencil fa-fw"></i> Edit User</div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
  <!-- Edit classes table END-->

  <!-- Selected Class Edit -->
  <div *ngIf="this.route == 3 && this.subRoute == 1">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="card editUserCard">
          <div class="card-body">
            <div class="row">
              <!--   
    this.selectedClassData.classID = this.editClassTable.classID[currentID];
    this.selectedClassData.className = this.editClassTable.className[currentID];
    this.selectedClassData.classLocation = this.editClassTable.classLocation[currentID];
    this.selectedClassData.instructorID = this.editClassTable.instructorID[currentID];
    this.selectedClassData.categoryID = this.editClassTable.categoryID[currentID];
    this.selectedClassData.reservedSlots = this.editClassTable.reservedSlots[currentID];
    this.selectedClassData.availableSlots = this.editClassTable.availableSlots[currentID];
    this.selectedClassData.beginDate = this.editClassTable.beginDate[currentID];
    this.selectedClassData.endDate = this.editClassTable.endDate[currentID];
    this.selectedClassData.beginHour = this.editClassTable.beginHour[currentID];
    this.selectedClassData.beginMin = this.editClassTable.beginMin[currentID];
    this.selectedClassData.endHour = this.editClassTable.endHour[currentID];
    this.selectedClassData.endMin = this.editClassTable.endMin[currentID];
    this.selectedClassData.dayOfWeek = this.editClassTable.dayOfWeek[currentID];
    this.selectedClassData.classDescription = this.editClassTable.classDescription[currentID];
    this.selectedClassData.classImageURL = this.editClassTable.classImageURL[currentID];
    this.selectedClassData.categoryName = this.editClassTable.categoryName[currentID];
    this.selectedClassData.hexColor = this.editClassTable.hexColor[currentID];
    this.selectedClassData.firstname = this.editClassTable.firstname[currentID];
    this.selectedClassData.lastname = this.editClassTable.lastname[currentID];
    this.selectedClassData.photoURL = this.editClassTable.photoURL[currentID];-->
              <div class="col-6">
                <div class="rowItem"><div class="editcurrentTitle">Class ID: </div><input name="selectedClassID" [(ngModel)]="selectedClassData.classID" #selectedClassID="ngModel" class="editInputbox" type="text" readonly></div>
                <div class="rowItem"><div class="editcurrentTitle">Class Name: </div><input name="selectedClassName" [(ngModel)]="selectedClassData.className" #selectedClassName="ngModel" class="editInputbox" type="text"></div>
                <div class="rowItem"><div class="editcurrentTitle">Class Location:</div><input name="selectedClassLocation" [(ngModel)]="selectedClassData.classLocation" #selectedClassLocation="ngModel" class="editInputbox" type="text"></div>
                <div class="addAccountFont frameIt rowPadding">
                  Manage Reserved Slots <button type="button" class="btn btn-info" (click)="enableShowSlots()">Show Slots</button> <br>
                  <div *ngIf="this.showSlots == 1">
                      <div class="responseMessage">
                        {{changeReservedMessage}}
                      </div>
                      <div class="responseMessageBad">
                        {{changeReservedMessageBad}}
                      </div>
                    <div class="reservedSlots" *ngFor="let current of selectedClassData.reservedSlotIterator;let i = index">
                      <div class="row">
                        <div class="col-3">
                          Email {{i+1}}:
                        </div>
                        <div class="col-9">
                          <input name="reservedSlot{{i}}" [(ngModel)]="selectedReserveSlotTable.email[i]" #classname="ngModel" type="email"><i id="apply{{i}}" class="fa fa-check clickablething" (click)="applyReservedSlotChange($event)" [pattern]="emailPattern" required></i>                   
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="addAccountFont frameIt rowPadding">
                  Current Instructor: {{selectedClassData.firstname}}  {{selectedClassData.lastname}} <br>
                  <button type="button" class="btn btn-warning" (click)="enableChangeInstructor()">Change Instructor</button> <br>
                  <div *ngIf="this.changeInstructor == 1">
                    Select a New Instructor: <br>
                    <select #instructorSelector class="mdb-select" (change)="setClassInstructor(instructorSelector.value)">
                        <option value="{{i}}" *ngFor="let currentInstructor of instructorTable.instructorID;let i = index">{{instructorTable.firstname[i]}} {{instructorTable.lastname[i]}} </option>
                    </select>
                  </div>
                </div>
                <div class="addAccountFont frameIt rowPadding">
                  Current Category: {{selectedClassData.categoryName}} <br>
                  <button type="button" class="btn btn-info" (click)="enableChangeClassCategory()">Change Class Category</button> <br>
                  <div *ngIf="this.changeClassCategory == 1">
                    Select a New Class Category: <br>
                    <select #selectClassCategory class="mdb-select" (change)="setClassCategory(selectClassCategory.value)">
                      <option value="{{i}}" *ngFor="let currentCategory of classCategorytable.categoryID;let i = index">{{classCategorytable.categoryName[i]}} </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button type="button" class="btn btn-success changepwButton pull-right" (click)="editUserDetailsApply()">Apply Changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
   <!-- Selected Class Edit END-->
</div>
