<div *ngIf="this.active == 1">
  <app-navbar></app-navbar>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 outterBG">
        <div class="leftNav">
          <div class="moduleNavContainer">
              <div class="moduleNav" *ngFor="let moduleName of moduleNames;let i = index">
                <div class="selectRoute" (click)="goTo(moduleRoutes[i])"><i class="fa {{moduleIcons[i]}} fa-fw"></i> {{moduleName}} </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-10">
        <div class="fragTitle">{{this.dashroute.currentTitle}} <hr></div>
          <div *ngIf="this.dashroute.currentRoute == '/'">
            <app-maindash></app-maindash>
          </div>
          <div *ngIf="this.dashroute.currentRoute == '/users'">
              <app-manage-users></app-manage-users>
          </div>
          <div *ngIf="this.dashroute.currentRoute == '/instructors'">
            <app-manage-instructors></app-manage-instructors>
          </div>
          <div *ngIf="this.dashroute.currentRoute == '/classes'">
            <app-manage-classes></app-manage-classes>
          </div>
          <div *ngIf="this.dashroute.currentRoute == '/classcategories'">
            <app-manage-classcategories></app-manage-classcategories>
          </div>
          <div *ngIf="this.dashroute.currentRoute == '/reviews'">
            <app-view-reviews></app-view-reviews>
          </div>
      </div>
    </div>
  </div>
  
</div>