<div class="container-fluid backgroundLogin">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="loginbox">
        <div class="loginboxTitle">
          Log In
        </div>
        <div class="userLogin">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <input name="username" [(ngModel)]="model.username" #username="ngModel" type="text"  placeholder="Username" class="loginTextbox">
            </div>
            <div class="col-2"></div>
          </div>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <input name="password" [(ngModel)]="model.password" #password="ngModel" type="password"  placeholder="Password" class="loginTextbox">
            </div>
            <div class="col-2"></div>
          </div>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <button type="button" class="loginButton btn btn-success" (click)="login()">Login</button>
            </div>
            <div class="col-2"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>