.selectionCardLeft {
    margin-left:50px;
    height:250px;
    width:250px;
    text-align: center;
    background-color:#f8f8f8;
    cursor: pointer;
}

.selectionCardRight {
    margin-right:50px;
    height:250px;
    width:250px;
    text-align: center;
    background-color:#f8f8f8;
    cursor: pointer;
}


.iconSpecsInternal {
    color:#337ab7;
    font-size:200px;
}

.iconSpecsExternal {
    color:red;
    font-size:200px;
}

.topMargin {
    margin-top:15%;
}

.centerElement {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.iconContainer {
    width:100%;
}

.addAccountCard {
    padding:40px;
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

.addAccountTitle {
    font-weight:500;
    font-size:50px;
}

.addAccountFont {
    font-weight:350;
    font-size:25px;
}

.spacerLeft {
    margin-left:20px;
}

.namecontain {
    width:100%;
}

.createButton {
    height:75px;
    width:200px;
}


.bgtest {
    background-color:red;
}

.errorsTable {
    color:red;
}

.greenhighlight {
    color:green;
    font-size:50px;
    text-align:center;
    font-weight:bold;
    margin-left:auto;
    margin-right:auto;
}

.returntodash {
    font-size:50px;
    font-weight:bold;
}

.returntodashbutton {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    cursor: pointer;
}